# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-dataroot

.angular

# Additional common patterns
node_modules/
build/
out/
package-lock.json
yarn.lock
pnpm-lock.yaml
