/**
 * SCSS Variables for component stylesheets
 * These are legacy SCSS variables - new code should use CSS custom properties from tokens.scss
 */

// Colors
$primary-color: #3f51b5;
$secondary-color: #607d8b;
$success-color: #689f38;
$warning-color: #ffa000;
$danger-color: #d32f2f;
$info-color: #1976d2;

// Text colors
$text-color: #212121;
$text-secondary: #757575;
$text-white: #ffffff;

// Background colors
$background-light: #f5f5f5;
$background-white: #ffffff;

// Border
$border-color: #e0e0e0;
$border-radius: 4px;

// Breakpoints for responsive mixins
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

// Responsive mixin
@mixin respond-to-mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin respond-to-tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}
