name: ci-affected

on:
  pull_request:

permissions:
  contents: read

concurrency:
  group: ci-affected-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CI: true

jobs:
  affected:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci
      - name: Print affected graph
        run: npx nx show projects --affected --base=origin/main --head=HEAD
      - name: Lint affected
        run: npx nx affected -t lint --base=origin/main --head=HEAD
      - name: Test affected
        run: npx nx affected -t test --base=origin/main --head=HEAD
      - name: Build affected
        run: npx nx affected -t build --base=origin/main --head=HEAD
      - name: E2E affected
        run: npx nx affected -t e2e --base=origin/main --head=HEAD
